<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baby.babybunny.student.management">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".utils.AppController"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/Theme.Babybunny"
        android:usesCleartextTraffic="true">
        <activity android:name=".screen.TeacherNotificationActivity"></activity>
        <activity android:name=".screen.TeacherFeedbacklistActivity" />
        <activity android:name=".screen.TeacherEducationActivity" />
        <activity android:name=".screen.TeacherStudentsActivity.TeacherStudentsActivity" />
        <activity android:name=".screen.TeacherAddHomeTaskActivity.TeacherAddHomeTaskActivity" />
        <activity android:name=".screen.TeacherHomeTaskActivity.TeacherHomeTaskActivity" />
        <activity android:name=".screen.TeacherAddTodaysClassActivity.TeacherAddTodaysClassActivity" />
        <activity android:name=".screen.TeacherTodaysClass.TeacherTodaysClass" />
        <activity android:name=".screen.TeacherAttendenceActivity.TeacherAttendenceActivity" />
        <activity android:name=".screen.TeacherOtpActivity.TeacherOtpActivity" />
        <activity android:name=".screen.TeacherHomeActivity.TeacherHomeActivity" />
        <activity android:name=".screen.TeacherLoginActivity.TeacherLoginActivity" />
        <activity android:name=".screen.CenterAddStudentFeesActivity.CenterAddStudentFeesActivity" />
        <activity android:name=".screen.NoDataFound.NoDataFound" />
        <activity android:name=".screen.CenterFeedbacklistActivity.CenterFeedbacklistActivity" />
        <activity android:name=".screen.CenterTodayActivity.CenterTodayActivity" />
        <activity android:name=".screen.CenterHomeTaskActivity.CenterHomeTaskActivity" />
        <activity android:name=".screen.CenterManagerOtpActivity.CenterManagerOtpActivity" />
        <activity android:name=".screen.CenterManagerLoginActivity.CenterManagerLoginActivity" />
        <activity android:name=".screen.CenterHolidayListActivity.CenterHolidayListActivity" />
        <activity android:name=".screen.CenterClassActivity.CenterClassActivity" />
        <activity android:name=".screen.CenterTeacherActivity.CenterTeacherActivity" />
        <activity android:name=".screen.CenterStudentActivity.CenterStudentActivity" />
        <activity android:name=".screen.CenterManagerHomeActivity.CenterManagerHomeActivity" />
        <activity android:name=".screen.StudentAttendanceActivity.StudentAttendanceActivity" />
        <activity android:name=".screen.StudentPreSchoolActivity.PreSchoolActivity" />
        <activity android:name=".screen.DoAndDontsActivity.DoAndDoNotsActivity" />
        <activity android:name=".screen.PdfActivity.PdfActivity" />
        <activity android:name=".screen.UpcomingEventActivity.UpcomingEventsActivity" />
        <activity android:name=".VideoandAudioClipActivity.VideoandAudioClipActivity" />
        <activity android:name=".screen.BlogsActivity.BlogsActivity" />
        <activity android:name=".screen.StudentTodaysClassActivity.StudentTodaysClass" />
        <activity android:name=".screen.StudentCompanyAchievmentActivity.StudentCompanyAchievmentActivity" />
        <activity android:name=".screen.StudentFeesBookAcivity.StudentFeesBookActivity" />
        <activity
            android:name=".screen.StudentQueryActivity.Student_Query_Activity"
            android:windowSoftInputMode="adjustPan|adjustResize|stateVisible" />
        <activity
            android:name=".screen.StudentReviewActivity.StudentReviewActivity"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity android:name=".screen.StudentHolidayActivity.Student_HolidayList_Activity" />
        <activity android:name=".screen.StudentHomeActivity.StudentHomeActivity" />
        <activity android:name=".screen.StudentOTPActivity.StudentOTPActivity" android:launchMode="singleTask"/>
        <activity android:name=".screen.StudentLoginActivity.StudentLoginActivity" />
        <activity android:name=".screen.CenterStudentsFeesActivity.CenterStudentsFeesActivity" />
        <activity android:name=".screen.splash.SplashActivity" >
            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screen.main.MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>